/* ---------- FORMULARIO DE CUENTA NUEVA ---------- */

.form {
	margin: 0.5rem auto;
}

fieldset {
    border:solid 4px $principal;
    background-color: $fondo;
    text-align: map-get($formstyle, centrado);
    margin: map-get($formstyle, alto) auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
	justify-content: map-get($formstyle, centrado);
    color: $blanco;
    text-shadow: $resaltadoNegro;
    input {
        border: none;
        border-bottom: solid 3px $principal;
        margin: map-get($formstyle, margen);
        padding: 0.25em;
        font-weight: map-get($formstyle, ancho);
        font-size: map-get($formstyle, alto);
        width: map-get($formstyle, tamaño);
    }
}

[type="radio"] ,[type="checkbox"] {
	width: auto;
}

.nacionSexo {
	display: inline-flex;
	width: map-get($formstyle, tamaño);
	align-items: map-get($formstyle, centrado);
	justify-content: space-evenly;
    input {
        margin: 0;
    }
}

.interes {
    p {
        margin-bottom: 0.5em;
    }
}

textarea{
	width: map-get($formstyle, tamaño);
	height: 200px;
	margin: map-get($formstyle, margen);
	font-size: map-get($formstyle, alto);
    font-weight: map-get($formstyle, ancho);
    resize: none;
    font-family: 'Squada One', cursive;
}