/* ---------- ESTILOS GLOBALES ---------- */

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Squada One', cursive;
}

:root{
    --principal: #004A8F; 
    --suave: #026ccf;
    --pastel: #96CCFF;
    --blanco: #fbf5f3d7;
    --fondo: #138DFF;
    --resaltadoNegro: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    --resaltadoPrincipal:  -2px 0 var(--principal), 0 2px var(--principal),
    2px 0 var(--principal), 0 -2px var(--principal);
}
body{
    background-color: var(--suave);
}
.container {
    margin: 0 auto;
    max-width: 1200px;
   
}

.button {
    padding: 0.5rem;
    border: outset 3px var(--principal);
    background-color: var(--suave);
    border-radius: 4px;
    font-size: 1.5rem;
    text-shadow: var(--resaltadoNegro);
    color: var(--blanco);
    cursor: pointer;
    margin: 0.5rem;
}

select {
    
    border: solid 2px var(--principal);
    border-radius: 5px;
    background-color: var(--suave);
    color: var(--blanco);
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: var(--blanco);
}


li {
    list-style: none;
    font-size: 1.25rem ;
}

h1 {
    font-size:3.5rem ;
}
h2 {
    font-size: 2.7rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.25rem ;
}







/* ---------- NAVEGADOR ---------- */

.fondoAzul{
    background-color: var(--principal);
    height: 4rem;
}

.navMenu {
    align-items: center;
    display: flex; 
    color: var(--blanco);
    height: 100%;
}


.navMenu li{
    display: inline;
}

.navInicioIcono {
   width: 15%;
   object-fit: contain;
}

.navInicioIcono:hover{
    transform: scale(1.2);
}

.navMenu a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navSecciones {
    width: 85%;
    display: flex;
    justify-content: space-evenly;  
}



.navSecciones li a:visited {
    color: var(--blanco)
}

.navSecciones li:hover {
    transform: scale(1.2);   
}

/* ---------- TITULO PAGINA INICIO ---------- */

.titulo {
    text-align: center;
    color: var(--blanco);
    justify-content: center;
    padding: auto;   
    background-color: var(--principal);
    background-image: url("../img/fondosYlogos/titulo.png");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:var(--resaltadoPrincipal);
}




/* ---------- CONTENIDO DEL INICIO ---------- */

/* ---------- SECCION ULTIMAS PUBLICACIONES Y DESTACADOS ---------- */

.fondoUltimosDestacados {
    background-image: url("../img/fondosYlogos/mejoresUltimos.png");
    background-size: cover;
    height: 100vh;
}

.seccionUltimosDestacados {
    display: flex;  
    align-items: center; 
    width: 100%;
    height: 100%;
}

.barra{
	max-height: 80vh;
	margin: 3em;
	border: solid 4px var(--principal);
	border-radius: 10px;
    background-color: var(--fondo);
}

.subtitulo {
	text-align: center;
	color: var(--blanco);
	background-color: var(--suave);
	padding: 0.25em;
    text-shadow: var(--resaltadoNegro);
}

.barra ul li{
	border-bottom: solid 2px var(--suave);
	padding: .25em;
    text-shadow: var(--resaltadoNegro);
}

.barra a:visited {
    color: var(--blanco);
}

.barra a:hover {
    color: var(--suave);
}

.estrellas {
	color: var(--suave);
}

/* ----------SECCION DE DESTACADOS CONFIGURACIONES GLOBALES---------- */

.enlaceResponsive {
    display: none;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px 1fr 35%;
    grid-template-rows: 1fr 5fr 1fr;
}

.gridContainerDer {
    display: grid;
    grid-template-columns: 35% auto 100px;
    grid-template-rows: 1fr 5fr 1fr;
}

.destacadoContenido {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    max-height: 80vh;
}

.cuadro {
    text-align: center;
    background-color: var(--fondo);
    border: solid 2px var(--principal);
    text-shadow: var(--resaltadoNegro);
}

.cuadro a img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
}

/* ----------SECCION DE NUTRICION DESTACADOS---------- */

.fondoNutricion {
    background-image: url("../img/fondosYlogos/nutricionDestacados.png");
    height: 100vh;
    background-size: cover;
    background-position: right top;
}

.destacadoNutricion {
    grid-area: 2/2/ 3/3;
}

/* ----------SECCION DE NUTRICION DESTACADOS---------- */


.fondoFitness {
    background-image: url("../img/fondosYlogos/fitnessDestacados.png");
    height: 100vh;
    background-size: cover;
    
}

.destacadoFitness {
    grid-area: 2/2/ 3/3;  
}

/* ----------SECCION DE MEGAMENTE DESTACADOS---------- */

.fondoEducamente {
    background-image: url("../img/fondosYlogos/educamenteDestacados.png");
    height: 100vh;
    background-size: cover;
    background-position: right top;
}

.destacadoEducamente {
    grid-area: 2/2/ 3/3;  
}



/* ---------- FILTRADO DE PUBLICACIONES ---------- */

.fondoFiltrado {
    margin: 0.5rem;  
}

.filtrado {
    background-image: url("../img/fondosYlogos/mejoresUltimos.png");
    border: solid 4px var(--principal);
    border-radius: 4px;
    padding: 1rem;
}

.filtradoTitulo {
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    text-shadow: var(--resaltadoPrincipal);
    text-transform: uppercase;
}

.filtrado label{
    font-size: 1.25rem;
    color: var(--blanco);
}
/* ---------- SECCIONES DE PUBLICACIONES DESTACADAS ---------- */


.publicaciones {
    border: solid 3px var(--principal);
    border-radius: 5px;
    margin: 1rem 0.5rem;
    padding: 0.5em;
    background-color: var(--fondo);
}

.publicacionesTitulo {
    padding: 0.5rem;
    text-align: center;
    text-decoration: underline;
    color: var(--blanco);
    text-shadow: var(--resaltadoNegro);
}



.publicacionesContenido p {
    margin: 1rem;
}


.publicacionesContenido h3 {
    margin: 2rem 1rem 1rem;
}

.publicacionesImg {
    width: 60%;
    display: block;
    margin: 1rem auto 1rem auto;
}

.publicacionesVideo {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 560px;
    height: 315px;;
}

/* ---------- FORMULARIO DE CUENTA NUEVA ---------- */

.form {
	margin: 0.5em auto;
}

fieldset {
    border:solid 4px var(--principal);
    background-color: var(--fondo);
    text-align: center;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
	justify-content: center;
    color: var(--blanco);
    text-shadow: var(--resaltadoNegro);
}

fieldset input {
    border: none;
    border-bottom: solid 3px var(--principal);
	margin: 0.25em auto;
	padding: 0.25em;
	font-weight: bold;
	font-size: 1rem;
	width: 500px;
}

[type="radio"] ,[type="checkbox"] {
	width: auto;
}

.nacionSexo {
	display: inline-flex;
	width: 500px;
	align-items: center;
	justify-content: space-around;
}

.nacionSexo input {
	margin: 0;
}

.interes p {
	margin-bottom: 0.5em;
}

textarea{
	width: 500px;
	height: 200px;
	margin: 0.25em auto;
	font: 16px bolder;
    resize: none;
    font-family: 'Squada One', cursive;
}


/* ---------- FOOTER ---------- */

footer {
    display: flex;
    padding: 0.5em;
	justify-content: space-evenly;
    background-color: var(--principal);
    color: var(--blanco);
}

.footerColumnas i {
	font-size: 2rem;
	color: var(--blanco);
}

.redes {
    text-align: center;
}

.derechos {
	text-align: center;
    margin: auto 0;
}

footer a:visited {
    color: var(--blanco);
}
footer a:hover{
    color: var(--pastel);
}

/* --------------RESPONSIVE TAMAÑO TABLETA------------- */

@media screen and (max-width: 768px) {

    /* -----ESTILOS GLOBALES----- */   
    
    
    
    h1 {font-size:2.8rem ;}

    h2 {font-size: 2.16rem;}

    h3 {font-size: 1.6rem;}

    

    .button {
        padding: 0.4rem;
        font-size: 1.2rem;
    }
    
    /* ----NAVEGADOR----- */

    .fondoAzul{
        height: 3.2rem;
    }

    .navSecciones li:hover, .navInicioIcono:hover {
        transform: none;   
    }

    /* -----TITULO----- */

    .titulo {
        height: 70vh;
        
    }

    /* -----ULTIMAS DESTACADO----- */

    .fondoUltimosDestacados {
        display: none;
    }

    .gridContainer, .gridContainerDer{
        grid-template-columns: 10% auto 10%;
        align-items: center;
    }

    .destacadoContenido{
        grid-template-rows: 1fr;
    }

    .fondoNutricion, .fondoFitness, .fondoEducamente{
        height: 70vh;      
    }

    .cuadroDisplay {
        display: none;
    }

    /* -----FILTRADO PUBLICACIONES----- */

    .filtradoTitulo{
        font-size: 1.6rem;
    }

    /* -----PUBLICACIONES----- */

    .publicacionesImg {
        height: 50vh;
        object-fit: contain;
    }

    /* -----FORMULARIO----- */


}

/* ---------- RESPONSIVE TAMAÑO CELULAR ---------- */

@media screen and (max-width: 576px) {

    body{
        background-color: var(--fondo);
    }

    /* -----ULTIMAS DESTACADO----- */

    .enlaceResponsive{
        display: inline;
        padding: 0.1rem;
        border: solid 2px var(--principal);
        background-color: var(--pastel);
        border-radius: 4px;
        color: var(--suave);
        text-shadow: var(--resaltadoNegro);
    }

    .gridContainer, .gridContainerDer{
        display: block;
        margin: 1rem;
    }

   .destacadoContenido{
       max-height: 95%;
       grid-template-columns: 1fr;
   }

   .fondoNutricion, .fondoFitness, .fondoEducamente{
       height: 100%;
    }
   
    .cuadro a img{
        height: auto;
    }

    .cuadro a p{
        padding: 0.5rem;
    }

    /* -----PUBLICACIONES----- */

    .publicacionesVideo{
        display: flex;
        width: 90%;
        height: auto;
    }
}